@{
    ViewData["Title"] = "About Us";
}
<h2>@ViewData["Title"]</h2>
<img src="~/images/store2.jpg" alt="IPHONE" class="center-block" width="1200" height="300" />

<p>
    <div class="text-center" role="option">
        <div colspan="8" style="background-color: rgb(124, 194, 228); text-align: center;">
            <strong><span style="font-size: 20px;"><span style="color: rgb(255, 255, 255);">I-Mobile</span></span></strong>

        </div>
        <br />
        <font size="4" color="black">
            Founded in 1991<br />
            And is now the foremost store chain in the field of smartphones, accessories, peripheral equipment, etc...<br />

        </font><br />

        <font size="6" color="black">Stores throughout the country</font><br />
        <font size="4" color="black">I-Mobile operates 24 stores nationwide</font><br />
        <br />
        <img src="~/images/BranchMaps.png" alt="IPHONE" class="center-block" />




        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12 mt-3 table_stores" style="direction: ltr;">


                    <table align="center" border="0" cellpadding="1" cellspacing="1">
                        <tbody>
                            <tr>
                                <td colspan="8" style="background-color: rgb(124, 194, 228); text-align: center;">
                                    <strong><span style="font-size: 16px;"><span style="color: rgb(255, 255, 255);">Center</span></span></strong>
                                </td>
                            </tr>

                            <tr>

                            <tr style="
                                    height: 40px;
                                    border-bottom-width: 40px;
                                ">

                                <td style="height: 40px;text-align: center;">
                                    <strong>Address</strong>
                                </td>
                                <td style="height: 40px;text-align: center;">
                                    <strong>Sun-Thu</strong>
                                </td>
                                <td style="height: 40px; text-align: center;">
                                    <strong>Friday</strong>
                                </td>
                                <td style="height: 40px; text-align: center;">
                                    <strong>Saturday</strong>
                                </td>
                                <td style="height: 40px; text-align: center;">
                                    <strong>Phone</strong>
                                </td>

                                <td style="height: 40px; text-align: center;">
                                    <strong style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   padding-left: 20px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               ">Location</strong>
                                </td>
                                </td>

                                </td>
                            </tr>


                            <tr>

                                <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                    <span style="color:#000000;">2 Ha'Sivim St. Petah Tikva</span>
                                </td>
                                <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                    <span style="color:#000000;">9:30-19:30</span>
                                </td>
                                <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                    <span style="color:#000000;">9:00-14:30</span>
                                </td>
                                <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                    <span style="color:#000000;">-</span>
                                </td>
                                <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                    *8280
                                </td>
                                <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                    <a href="https://goo.gl/maps/eKiBiAHX68qUxbbZ6">
                                        <img src="~/images/Google_Maps_Icon.png" class="center-block" width="30" height="30" />
                                    </a>
                                </td>
                            </tr>
                            <tr>

                                <td style="height: 40px; background-color: rgb(255, 255, 255); text-align: center;">
                                    Lishanski 20 Rishon LeZion
                                </td>
                                <td style="height: 40px; background-color: rgb(255, 255, 255); text-align: center;">
                                    <span style="color:#000000;">9:30-19:30</span>
                                </td>
                                <td style="height: 40px; background-color: rgb(255, 255, 255); text-align: center;">
                                    <span style="color:#000000;">9:00-14:30</span>
                                </td>
                                <td style="height: 40px; background-color: rgb(255, 255, 255); text-align: center;">
                                    <span style="color:#000000;">-</span>
                                </td>
                                <td style="height: 40px; background-color: rgb(255, 255, 255); text-align: center;">
                                    *8280
                                </td>
                                <td style="height: 40px; background-color: rgb(255, 255, 255); text-align: center;">
                                    <a href="https://goo.gl/maps/1ed4WRNKDkA2GfvSA">
                                        <img src="~/images/Google_Maps_Icon.png" class="center-block" width="30" height="30" />
                                    </a>
                                </td>
                            </tr>


                            <tr>

                                <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                    <span style="color:#000000;"><span style="font-family: Arial;">10 Hamasger St. Tel Aviv</span></span>
                                </td>
                                <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                    <span style="color:#000000;">9:30-19:30</span>
                                </td>
                                <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                    <span style="color:#000000;">9:00-14:30</span>
                                </td>
                                <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                    <span style="color:#000000;">-</span>
                                </td>
                                <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                    *8280
                                </td>
                                <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                    <a href="https://goo.gl/maps/aqjBRehtpR1jUFSw6">
                                        <img src="~/images/Google_Maps_Icon.png" class="center-block" width="30" height="30" />
                                    </a>
                                </td>
                            </tr>
                            <tr>

                                <td style="height: 40px; background-color: rgb(255, 255, 255); text-align: center;">
                                    <span style="color:#000000;"><span style="font-family: Arial;">Dizengoff 50 </span><span style="font-family: Arial;">Tel Aviv</span></span>
                                </td>
                                <td style="height: 40px; background-color: rgb(255, 255, 255); text-align: center;">
                                    <span style="color:#000000;">9:00-22:00</span>
                                </td>
                                <td style="height: 40px; background-color: rgb(255, 255, 255); text-align: center;">
                                    <span style="color:#000000;">9:00-15:00</span>
                                </td>
                                <td style="height: 40px; background-color: rgb(255, 255, 255); text-align: center;">
                                    <span style="color: rgb(0, 0, 0);">-</span>
                                </td>
                                <td style="height: 40px; background-color: rgb(255, 255, 255); text-align: center;">
                                    *8280
                                </td>
                                <td style="height: 40px; background-color: rgb(255, 255, 255); text-align: center;">
                                    <a href="https://goo.gl/maps/zuWsuzjrgD3ovhC28">
                                        <img src="~/images/Google_Maps_Icon.png" class="center-block" width="30" height="30" />
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="8" style="background-color: rgb(124, 194, 228); text-align: center;">
                                    <strong><span style="color: rgb(255, 255, 255);"><span style="font-size: 16px;">Jerusalem</span></span></strong>
                                </td>
                            </tr>
                            <tr>

                                <td style="height: 40px;text-align: center;">
                                    <strong>Address</strong>
                                </td>
                                <td style="height: 40px;text-align: center;">
                                    <strong>Sun-Thu</strong>
                                </td>
                                <td style="height: 40px; text-align: center;">
                                    <strong>Friday</strong>
                                </td>
                                <td style="height: 40px; text-align: center;">
                                    <strong>Saturday</strong>
                                </td>
                                <td style="height: 40px; text-align: center;">
                                    <strong>Phone</strong>
                                </td>
                                <td style="height: 40px; text-align: center;">
                                    <strong>Location</strong>
                                </td>
                            </tr>

                            <tr>

                                <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                    <span style="color:#000000;"><span style="font-family: Arial;">3 HaParsa St. Jerusalem</span></span>
                                </td>
                                <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                    <span style="color:#000000;">10:00-19:30 </span>
                                </td>
                                <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                    <span style="color:#000000;">9:00-14:30</span>
                                </td>
                                <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                    <span style="color:#000000;">-</span>
                                </td>
                                <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                    *8280
                                </td>
                                <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                    <a href="https://goo.gl/maps/wporRJ5PyhDitJ6K6">
                                        <img src="~/images/Google_Maps_Icon.png" class="center-block" width="30" height="30" />
                                    </a>
                                </td>
                            </tr>
                            <tr>

                                <td style="height: 40px; text-align: center;">
                                    <span style="color:#000000;"><span style="font-family: Arial;">Yishpro Center, Modi'in</span></span>
                                </td>
                                <td style="height: 40px; text-align: center;">
                                    <span style="color:#000000;">10:00-20:00</span>
                                </td>
                                <td style="height: 40px; text-align: center;">
                                    <span style="color:#000000;">9:00-14:30</span>
                                </td>
                                <td style="height: 40px; text-align: center;">
                                    <span style="color:#000000;">-</span>
                                </td>
                                <td style="height: 40px; text-align: center;">
                                    *8280
                                </td>
                                <td style="height: 40px; background-color: rgb(255, 255, 255); text-align: center;">
                                    <a href="https://goo.gl/maps/JeuhodYFYzQPwCUC9">
                                        <img src="~/images/Google_Maps_Icon.png" class="center-block" width="30" height="30" />
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="8" style="background-color: rgb(124, 194, 228); text-align: center;">
                                    <span style="font-size: 16px;"><font color="#ffffff"><b>Hasharon</b></font></span>
                                </td>
                            </tr>
                            <tr>

                                <td style="height: 40px; text-align: center;">
                                    <strong>Address</strong>
                                </td>
                                <td style="height: 40px; text-align: center;">
                                    <strong>Sun-Thu</strong>
                                </td>
                                <td style="height: 40px; text-align: center;">
                                    <strong>Friday</strong>
                                </td>
                                <td style="height: 40px; text-align: center;">
                                    <strong>Saturday</strong>
                                </td>
                                <td style="height: 40px; text-align: center;">
                                    <strong>Phone</strong>
                                </td>

                                <td style="height: 40px; text-align: center;">
                                    <strong>Location</strong>
                                </td>

                            </tr>
                            <tr>

                                <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                    <span style="color: rgb(0, 0, 0); font-family: Arial;">20 Weizmann St. Herzeliya</span>
                                </td>
                                <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                    10:00-19:30
                                </td>
                                <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                    9:00-14:30
                                </td>
                                <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                    -
                                </td>
                                <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                    *8280
                                </td>
                                <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                    <a href="http://google.com">
                                        <img src="~/images/Google_Maps_Icon.png" class="center-block" width="30" height="30" />
                                    </a>
                                </td>
                            </tr>
                            <tr>

                                <td style="height: 40px; text-align: center;">
                                    <span style="color: rgb(0, 0, 0); font-family: Arial;">82 Ben Gurion St. Herzeliya</span>
                                </td>
                                <td style="height: 40px; text-align: center;">
                                    9:30-19:00
                                </td>
                                <td style="height: 40px; text-align: center;">
                                    -
                                </td>
                                <td style="height: 40px; text-align: center;">
                                    -
                                </td>
                                <td style="height: 40px; text-align: center;">
                                    *8280
                                </td>
                                <td style="height: 40px; background-color: rgb(255, 255, 255); text-align: center;">
                                    <a href="https://goo.gl/maps/EaBRkipzsLKmgwZw5">
                                        <img src="~/images/Google_Maps_Icon.png" class="center-block" width="30" height="30" />
                                    </a>
                                </td>
                            </tr>
                            <tr>

                                <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                    <span style="color: rgb(0, 0, 0); font-family: Arial;">6 HaGavish St. Netanya</span>
                                </td>
                                <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                    9:30-19:30
                                </td>
                                <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                    9:00-14:30
                                </td>
                                <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                    -
                                </td>
                                <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                    *8280
                                </td>
                                <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                    <a href="https://goo.gl/maps/D35L9mfLBia9pu3m7">
                                        <img src="~/images/Google_Maps_Icon.png" class="center-block" width="30" height="30" />
                                    </a>
                                </td>
                            </tr>
                            <tr>

                                <td style="height: 40px; text-align: center;">
                                    15 David Remez St. Netanya
                                </td>
                                <td style="height: 40px; text-align: center;">
                                    <span style="color: rgb(0, 0, 0); text-align: center;">9:30-19:00</span>
                                </td>
                                <td style="height: 40px; text-align: center;">
                                    9:00-14:30
                                </td>
                                <td style="height: 40px; text-align: center;">
                                    -
                                </td>
                                <td style="height: 40px; text-align: center;">
                                    *8280
                                </td>
                                <td style="height: 40px; background-color: rgb(255, 255, 255); text-align: center;">
                                    <a href="https://goo.gl/maps/kqDESU5R6ujLtCDPA">
                                        <img src="~/images/Google_Maps_Icon.png" class="center-block" width="30" height="30" />
                                    </a>
                                </td>
                            </tr>
                            <tr>

                                <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                    <span style="color: rgb(0, 0, 0); font-family: Arial;">19 HaTaasiya St. Raanana</span>
                                </td>
                                <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                    9:30-19:30
                                </td>
                                <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                    9:00-14:30
                                </td>
                                <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                    -
                                </td>
                                <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                    *8280
                                </td>
                                <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                    <a href="https://goo.gl/maps/3vU4CJULNx6t6c4B7">
                                        <img src="~/images/Google_Maps_Icon.png" class="center-block" width="30" height="30" />
                                    </a>
                                </td>
                            </tr>
                            <tr>

                                <td style="height: 40px; text-align: center;">
                                    2 Hayotsrim St. Kfar Saba
                                </td>
                                <td style="height: 40px; text-align: center;">
                                    <span style="color: rgb(0, 0, 0); text-align: center;">9:30-19:30</span>
                                </td>
                                <td style="height: 40px; text-align: center;">
                                    <span style="text-align: center;">9:00-14:30</span>
                                </td>
                                <td style="height: 40px; text-align: center;">
                                    -
                                </td>
                                <td style="height: 40px; text-align: center;">
                                    *8280
                                </td>
                                <td style="height: 40px; background-color: rgb(255, 255, 255); text-align: center;">
                                    <a href="https://goo.gl/maps/k6Vioan5EbDggSbr7">
                                        <img src="~/images/Google_Maps_Icon.png" class="center-block" width="30" height="30" />
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="8" style="background-color: rgb(124, 194, 228); text-align: center;">
                                    <strong><span style="color: rgb(255, 255, 255);"><span style="font-size: 16px;">North</span></span></strong>
                                </td>
                            </tr>
                            <tr>

                                <td style="height: 40px;text-align: center;">
                                    <strong>Address</strong>
                                </td>
                                <td style="height: 40px;text-align: center;">
                                    <strong>Sun-Thu</strong>
                                </td>
                                <td style="height: 40px; text-align: center;">
                                    <strong>Friday</strong>
                                </td>
                                <td style="height: 40px; text-align: center;">
                                    <strong>Saturday</strong>
                                </td>
                                <td style="height: 40px; text-align: center;">
                                    <strong>Phone</strong>
                                </td>
                                <td style="height: 40px; text-align: center;">
                                    <strong>Location</strong>
                                </td>
                            </tr>

                        <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                            <span style="color: rgb(0, 0, 0); font-family: Arial;">HaHaroshet St. Hutzot HaMifratz Mall</span>
                        </td>
                        <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                            9:30-19:30
                        </td>
                        <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                            9:00-14:30
                        </td>
                        <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                            -
                        </td>
                        <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                            *8280
                        </td>
                        <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                            <a href="https://goo.gl/maps/oLAPi97V8JgD2pw8A">
                                <img src="~/images/Google_Maps_Icon.png" class="center-block" width="30" height="30" />
                            </a>
                        </td>
                        </tr>
                        <tr>

                            <td style="height: 40px; text-align: center;">
                                <span style="color: rgb(0, 0, 0); font-family: Arial;">2 Harav Ovadia Yosef </span><span style="color: rgb(0, 0, 0); font-family: Arial;">Ave.</span><span style="color: rgb(0, 0, 0); font-family: Arial;"> (HaHerut) Hadera</span>
                            </td>
                            <td style="height: 40px; text-align: center;">
                                9:30-19:30
                            </td>
                            <td style="height: 40px; text-align: center;">
                                9:00-14:30
                            </td>
                            <td style="height: 40px; text-align: center;">
                                -
                            </td>
                            <td style="height: 40px; text-align: center;">
                                *8280
                            </td>
                            <td style="height: 40px; background-color: rgb(255, 255, 255); text-align: center;">
                                <a href="https://goo.gl/maps/WjTiLLaLMMS6kixP6">
                                    <img src="~/images/Google_Maps_Icon.png" class="center-block" width="30" height="30" />
                                </a>
                            </td>
                        </tr>
                        <tr>

                            <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                <span style="color: rgb(0, 0, 0); font-family: Arial;">104 Haazmaot St. Haifa</span>
                            </td>
                            <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                9:30-19:00
                            </td>
                            <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                9:00-14:30
                            </td>
                            <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                -
                            </td>
                            <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                *8280
                            </td>
                            <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                <a href="https://goo.gl/maps/Do7bGZNfN3v1Shy78">
                                    <img src="~/images/Google_Maps_Icon.png" class="center-block" width="30" height="30" />
                                </a>
                            </td>
                        </tr>
                        <tr>

                            <td style="height: 40px; text-align: center;">
                                <span style="color: rgb(0, 0, 0); font-family: Arial;">9 Maale Kamoon St. My Center, Carmiel</span>
                            </td>
                            <td style="height: 40px; text-align: center;">
                                10:00-19:30
                            </td>
                            <td style="height: 40px; text-align: center;">
                                9:00-14:00
                            </td>
                            <td style="height: 40px; text-align: center;">
                                -
                            </td>
                            <td style="height: 40px; text-align: center;">
                                *8280
                            </td>
                            <td style="height: 40px; background-color: rgb(255, 255, 255); text-align: center;">
                                <a href="https://goo.gl/maps/yJLdyRrXLE3HMVw9A">
                                    <img src="~/images/Google_Maps_Icon.png" class="center-block" width="30" height="30" />
                                </a>
                            </td>
                        </tr>
                        <tr>

                            <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                <span style="color: rgb(0, 0, 0); font-family: Arial;">12 (Hayezira St. Nof Hagalil (Nazareth Illit</span>
                            </td>
                            <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                10:00-19:30
                            </td>
                            <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                9:00-14:30
                            </td>
                            <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                -
                            </td>
                            <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                *8280
                            </td>
                            <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                <a href="https://goo.gl/maps/RexY4HVicixFh3fZ7">
                                    <img src="~/images/Google_Maps_Icon.png" class="center-block" width="30" height="30" />
                                </a>
                            </td>
                        </tr>
                        <tr>

                            <td style="height: 40px;">
                                <div style="text-align: center;">
                                    5 Kehila Tsiyon St. Afula
                                </div>
                            </td>
                            <td style="height: 40px; text-align: center;">
                                <span style="text-align: center;">10:00-19:30</span>
                            </td>
                            <td style="height: 40px; text-align: center;">
                                <span style="text-align: center;">9:00-14:30</span>
                            </td>
                            <td style="height: 40px; text-align: center;">
                                -
                            </td>
                            <td style="height: 40px; text-align: center;">
                                *8280
                            </td>
                            <td style="height: 40px; background-color: rgb(255, 255, 255); text-align: center;">
                                <a href="https://goo.gl/maps/95FkaNkzHGbKG8R37">
                                    <img src="~/images/Google_Maps_Icon.png" class="center-block" width="30" height="30" />
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="8" style="background-color: rgb(124, 194, 228); text-align: center;">
                                <strong><span style="font-size: 16px;"><span style="color: rgb(255, 255, 255);">South</span></span></strong>
                            </td>
                        </tr>
                        <tr>

                            <td style="height: 40px;text-align: center;">
                                <strong>Address</strong>
                            </td>
                            <td style="height: 40px;text-align: center;">
                                <strong>Sun-Thu</strong>
                            </td>
                            <td style="height: 40px; text-align: center;">
                                <strong>Friday</strong>
                            </td>
                            <td style="height: 40px; text-align: center;">
                                <strong>Saturday</strong>
                            </td>
                            <td style="height: 40px; text-align: center;">
                                <strong>Phone</strong>
                            </td>
                            <td style="height: 40px; text-align: center;">
                                <strong>Location</strong>
                            </td>
                        </tr>
                        <tr>

                            <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                <span style="color: rgb(0, 0, 0); font-family: Arial;">3 Sderot HaTmarim, Eilat</span>
                            </td>
                            <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                10:00-19:30
                            </td>
                            <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                9:00-14:30
                            </td>
                            <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                -
                            </td>
                            <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                *8280
                            </td>
                            <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                <a href="https://goo.gl/maps/dXqFTC7X6azggyGK6">
                                    <img src="~/images/Google_Maps_Icon.png" class="center-block" width="30" height="30" />
                                </a>
                            </td>
                        </tr>
                        <tr>

                            <td style="height: 40px; background-color: rgb(255, 255, 255); text-align: center;">
                                Pninat Eilat Center, Northern Beach promenade
                            </td>
                            <td style="height: 40px; background-color: rgb(255, 255, 255); text-align: center;">
                                10:00-19:30
                            </td>
                            <td style="height: 40px; background-color: rgb(255, 255, 255); text-align: center;">
                                9:00-14:30
                            </td>
                            <td style="height: 40px; background-color: rgb(255, 255, 255); text-align: center;">
                                -
                            </td>
                            <td style="height: 40px; background-color: rgb(255, 255, 255); text-align: center;">
                                *8280
                            </td>
                            <td style="height: 40px; background-color: rgb(255, 255, 255); text-align: center;">
                                <a href="https://goo.gl/maps/SN5JGTDiKcsGzNaK9">
                                    <img src="~/images/Google_Maps_Icon.png" class="center-block" width="30" height="30" />
                                </a>
                            </td>
                        </tr>
                        <tr>

                            <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                <span style="color: rgb(0, 0, 0); font-family: Arial;">1 Herzel St. ( Unitrade house) Ashdod</span>
                            </td>
                            <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                9:30-19:30
                            </td>
                            <td style="height: 40px;background-color: rgb(243, 243, 243);text-align: center;padding-left: 20px;">
                                9:00-14:30
                            </td>
                            <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                -
                            </td>
                            <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                *8280
                            </td>
                            <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                <a href="https://goo.gl/maps/RKSaVKvzVoNetGGx8">
                                    <img src="~/images/Google_Maps_Icon.png" class="center-block" width="30" height="30" />
                                </a>
                            </td>
                        </tr>


                        <tr>

                            <td style="height: 40px; background-color: rgb(255, 255, 255); text-align: center;">
                                <span style="color: rgb(0, 0, 0); font-family: Arial;">125 Toviyaho david Ave. Grand Mall, Beer Sheva</span>
                            </td>
                            <td style="height: 40px; background-color: rgb(255, 255, 255); text-align: center;">
                                9:30-22:00
                            </td>
                            <td style="height: 40px; background-color: rgb(255, 255, 255); text-align: center;">
                                9:00-14:30
                            </td>
                            <td style="height: 40px; background-color: rgb(255, 255, 255); text-align: center;">
                                19:45-23:00
                            </td>
                            <td style="height: 40px; background-color: rgb(255, 255, 255); text-align: center;">
                                *8280
                            </td>
                            <td style="height: 40px; background-color: rgb(255, 255, 255); text-align: center;">
                                <a href="https://goo.gl/maps/F8fEf9yp64oGWrBw8">
                                    <img src="~/images/Google_Maps_Icon.png" class="center-block" width="30" height="30" />
                                </a>
                            </td>
                        </tr>
                        <tr>

                            <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                <span style="color: rgb(0, 0, 0); font-family: Arial;">3 Kikar Paz Lev HaIr Mall, Kiryat Gat</span>
                            </td>
                            <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                10:00-19:30
                            </td>
                            <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                9:00-14:30
                            </td>
                            <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                -
                            </td>
                            <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                *8280
                            </td>
                            <td style="height: 40px; background-color: rgb(243, 243, 243); text-align: center;">
                                <a href="https://goo.gl/maps/1ZBkpD3Rn3J4f84X8">
                                    <img src="~/images/Google_Maps_Icon.png" class="center-block" width="30" height="30" />
                                </a>
                            </td>
                        </tr>
                        <tr>

                            <td style="height: 40px; background-color: rgb(255, 255, 255); text-align: center;">
                                <span style="color: rgb(0, 0, 0); font-family: Arial;">34 Derech Yavne St. Rehovot</span>
                            </td>
                            <td style="height: 40px; background-color: rgb(255, 255, 255); text-align: center;">
                                9:30-19:30
                            </td>
                            <td style="height: 40px; background-color: rgb(255, 255, 255); text-align: center;">
                                9:00-14:30
                            </td>
                            <td style="height: 40px; background-color: rgb(255, 255, 255); text-align: center;">
                                -
                            </td>
                            <td style="height: 40px; background-color: rgb(255, 255, 255); text-align: center;">
                                *8280
                            </td>
                            <td style="height: 40px; background-color: rgb(255, 255, 255); text-align: center;">
                                <a href="https://goo.gl/maps/ycyjQQeJhpiNQzJg6">
                                    <img src="~/images/Google_Maps_Icon.png" class="center-block" width="30" height="30" />
                                </a>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>






    </div>

