@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/iphoneHome.jpg" alt="Iphone11" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    IPHONE 11 <br />
                    <a class="btn btn-default" asp-controller="Devices" asp-action="Details/5">
                        לפרטים ורכישה
                    </a>

                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/SamsungHome.jpg" alt="Galaxy" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <font color="black" class="text-right">Galaxy S10</font> <br />
                    <a class="btn btn-default" asp-controller="Devices" asp-action="Details/1">
                        לפרטים ורכישה
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/GalaxyHome.jpg" alt="Galaxy" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>

                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>



<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&effect=brick-sign">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <meta charset="utf-8" />
    <title>IMobile Store HomePage</title>
    <link rel="stylesheet" href="~/css/styleHomePage.css" />

</head>

<body>
    <header>

        <div class="aside1">
            <div class="goodMorning">
                <script type="text/javascript">
                    var d = new Date();
                    var time = d.getHours();

                    if (time <24) {
                        document.write("<b>Good Morning</b>");
                    }
                    else {
                        document.write("<b>Good Day</b>");
                    }
                </script>
            </div>

            <div class="pAside">
                <br />
                Click On The Black Box to get  <br />
                Cupon Code for use in stores
            </div>

            <div class="parent">
                <div class="box">Code: qu3j54i</div>
            </div>

            <!-- weather widget start -->
            <div class="weather">
                <div id="m-booked-bl-simple-48820">
                    <div class="booked-wzs-160-110 weather-customize" style="background-color:#137AE9;width:200px;" id="width2">
                        <div class="booked-wzs-160-110_in">
                            <a target="_blank" class="booked-wzs-top-160-110" href="https://www.booked.net/">
                                <img src="//s.bookcdn.com/images/letter/s5.gif" alt="booked.net" />
                            </a>
                            <div class="booked-wzs-160-data">
                                <div class="booked-wzs-160-left-img wrz-01">
                                </div> <div class="booked-wzs-160-right">
                                    <div class="booked-wzs-day-deck">
                                        <div class="booked-wzs-day-val">
                                            <div class="booked-wzs-day-number">
                                                <span class="plus">+</span>27
                                            </div>
                                            <div class="booked-wzs-day-dergee">
                                                <div class="booked-wzs-day-dergee-val">&deg;</div>
                                                <div class="booked-wzs-day-dergee-name">C</div>
                                            </div>
                                        </div>
                                        <div class="booked-wzs-day">
                                            <div class="booked-wzs-day-d">
                                                <span class="plus">+</span>27&deg;
                                            </div>
                                            <div class="booked-wzs-day-n"><span class="plus">+</span>26&deg;</div>
                                        </div>
                                    </div>
                                    <div class="booked-wzs-160-info">
                                        <div class="booked-wzs-160-city">Tel Aviv</div>
                                        <div class="booked-wzs-160-date">Monday, 21</div>
                                    </div>
                                </div>
                            </div>
                            <a target="_blank" href="https://www.booked.net/weather/tel-aviv-18414" class="booked-wzs-bottom-160-110">
                                <div class="booked-wzs-center"><span class="booked-wzs-bottom-l"> See 7-Day Forecast</span></div>
                            </a>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">var css_file = document.createElement("link"); css_file.setAttribute("rel", "stylesheet"); css_file.setAttribute("type", "text/css"); css_file.setAttribute("href", 'https://s.bookcdn.com/css/w/booked-wzs-widget-160.css?v=0.0.1'); document.getElementsByTagName("head")[0].appendChild(css_file); function setWidgetData(data) { if (typeof (data) != 'undefined' && data.results.length > 0) { for (var i = 0; i < data.results.length; ++i) { var objMainBlock = document.getElementById('m-booked-bl-simple-48820'); if (objMainBlock !== null) { var copyBlock = document.getElementById('m-bookew-weather-copy-' + data.results[i].widget_type); objMainBlock.innerHTML = data.results[i].html_code; if (copyBlock !== null) objMainBlock.appendChild(copyBlock); } } } else { alert('data=undefined||data.results is empty'); } }</script>
                <script type="text/javascript" charset="UTF-8" src="https://widgets.booked.net/weather/info?action=get_weather_info&ver=6&cityID=18414&type=1&scode=124&ltid=3457&domid=w209&anc_id=35529&cmetric=1&wlangID=1&color=137AE9&wwidth=200&header_color=ffffff&text_color=333333&link_color=08488D&border_form=1&footer_color=ffffff&footer_text_color=333333&transparent=0"></script><!-- weather widget end -->
            </div><!-- weather widget end -->


        </div>


        <div class="welcome-text" style="font-family: Big Caslon,Book Antiqua,Palatino Linotype,Georgia,serif;">
            <h1> Welcome to IMobile Store</h1>
            <br />
            <br />

            <div class="after-welcome" style="font-family: Comic Sans MS, cursive, sans-serif;">
                LOVE AT FIRST<br />
            </div>
            <br />
            <h3 style="font-family: Comic Sans MS, cursive, sans-serif;">second, third, fourth, fifth, and sixth sight.</h3>
           <br />
            
            <div class="row">
                <img src="~/images/Facebook_f_logo_(2019).svg" title="IMobile Facebook" alt="IMobile Facebook" style="width:10%; position:center">
                <a href="https://www.facebook.com/imobilecompanyyerevan/?__tn__=%2Cd%2CP-R&eid=ARBkIcBjH5Kr8lnTNKw2dXNiLIF4zvC3ifah3JU5tF7awZYP0J8Ffc2bqqotzABJvRyrvNq8M-i2Eyg7">
                <h5 class="font-weight-bold m-0">!עדיין לא חברים שלנו בפייסבוק?  הירשמו לקבלת עדכונים, חדשות, הנחות ומבצעים</h5></a>
            </div>
                   
          

        </div>

        <div class="container-fluid pt-5 bg-gray pb-5" style="font-family: Big Caslon,Book Antiqua,Palatino Linotype,Georgia,serif;">
            <div class="container">
                <div class="row top-heading mt-5">
                    <div class="col-md-12">
                        <p><br /><br /></p>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-sm-6">

                        <img src="~/images/iphone11colors.jpeg" class="img-fluid hero-img" alt="Iphone 11" style="border: 1px solid #ddd; border-radius: 6px;padding: 20px;" width="500" height="500">
                    </div>

                    <div class="col-sm-6">
                        <h1 class="hero-heading">IPHONE 11</h1>
                        <p class="hero-paragraph">
                            <h1 class="center-block" style="font-family: Big Caslon,Book Antiqua,Palatino Linotype,Georgia,serif;">
                                Take a closer look.
                            </h1>
                            <br />
                            <h4>
                                A new dual‑camera system captures<br />
                                more of what you see and love.<br />
                                <br />
                                The fastest chip ever in a smartphone<br />
                                and all‑day battery life let you do more and charge less.<br />
                                <br />
                                And the highest‑quality video in a smartphone,<br />
                                so your memories look better than ever.>
                            </h4>
                        </p>

                        <a class="btn btn-default" style="background:#137AE9; color:#ddd" asp-controller="Devices" asp-action="Details/1">
                            View More
                        </a>
                    </div>

                </div>

                <div class="row mt-4">

                    <div class="col-sm-6">
                        <br />
                        <h2 class="hero-heading">Xiaomi Mi 8</h2>
                        <p class="hero-paragraph">
                            <h2 class="center-block" style="font-family: Big Caslon,Book Antiqua,Palatino Linotype,Georgia,serif;">
                                Just the right amount
                                of everything.
                            </h2>
                            <br />
                            <h4>
                                The Xiaomi Mi 8 is powered by the Qualcomm Snapdragon 845 processor,<br />
                                with 6 GB LPDDR4X RAM and Adreno 630 GPU.<br /><br />
                                It has a 6.21-inch (158 mm)
                                <br />FullHD plus AMOLED display.<br />
                                <br />
                                Storage options include 64, 128 or 256 GB.<br />
                                The handset features a fingerprint scanner<br />
                                on the rear or on the screen under the display,<br />
                                in the Explorer Edition

                            </h4>
                        </p>

                        <a class="btn btn-default" style="background:#137AE9; color:#ddd" asp-controller="Devices" asp-action="Details/1">
                            View More
                        </a>
                    </div>

                    <div class="col-sm-6">
                        <div class="ImgDesign2">
                            <img src="~/images/shiomiHomepage.jpeg" class="img-fluid hero-img" alt="img2" style="border: 1px solid #ddd; border-radius: 6px;padding: 20px;" width="500" height="500">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br />



        <div class="row">
            <div class="col-md-3">
                <h2><br />About Us</h2>
                <h6>
                    <ul style="line-height: 1.5">
                        <li>I-Mobile Has a 24 Store</li>
                        from the north to Eilat
                        <li>customers enjoy a courteous<br /> and professional team.</li>
                        <li>High quality</li>
                        <li> professional products</li>
                        <li>
                            <a class="btn btn-md custom-btn" asp-controller="Home" asp-action="About" style="font-size:17px; color:blue">
                                Learn more
                            </a>
                        </li>

                    </ul>
                </h6>
            </div>

            <div class="col-md-3">
                <h2><br />Contact</h2>
                <h6>
                    <ul style="line-height: 1.5">
                        <li>03-9999999 OR *8880</li>
                        <li>Fax : 03-9888888</li>
                        <li>
                            Call center hours<br />
                            Sunday-Thursday :08:00-17:00
                            <br /> Friday : 08:00-12:00
                        </li>
                        <li>
                            Mail: Mobile@IMobile.com<br />
                            IMobileSales@IMobile.com
                        </li>

                        <li>
                            <a class="btn btn-md custom-btn" asp-controller="Home" asp-action="Contact" style="font-size:17px; color:blue">
                         For more Information
                            </a>
                        </li>

                    </ul>
                </h6>
            </div>
            <div class="col-md-3">
                <h2><br />Products</h2>
                <h6><ul style="line-height: 1.5">
    <li>
        <a class="btn btn-md custom-btn" asp-controller="Devices" asp-action="Index" style="font-size:17px; color:blue">
            Devices
        </a>
    </li>
    <li>
        <a class="btn btn-md custom-btn" asp-controller="Accessories" asp-action="Index" style="font-size:17px; color:blue">
            Accessories
        </a>
    </li>

</ul></h6>
            </div>
            <div class="col-md-3">
                <h2><br />Orders & Deliveries</h2>
                <h6>
                    <ul style="line-height: 1.5">
                        <li>
                            Orders and deliveries can be made<br />
                            via the email address<br />
                            via the telephone
                        </li>
                        <li>Shipments will be made up to<br />
                        5 days from the date of order</li>
                        <li>Free shiping from 100$</li>
                    </ul>
                </h6>
            </div>
        </div>

       

    </header>
</body>
</html>
<br />
<br />


