@{
    //  ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<link rel="stylesheet" href="~/css/NavBar.css" />

<address>
    <img src="~/images/Imobile logo.png" width="370" height="90" />  <br />
    <br /><br /> <b>Adress:</b> <br /> Collage of the managment  <br />
    Rishon Lezion , Israel<br />
    <br />

    <b>
        Call center hours
    </b><br />
    Sunday-Thursday :08:00-17:00
    <br /> Friday : 08:00-12:00<br />
    <br />

    <b>Nir Chetrit</b>
    <br />
    Phone : 054-4339724  <br />
    Email : nir.chetrit@gmail.com  <br />
    <br />
    <b>Or Butbul</b> <br />
    Phone : 052-3927383  <br />
    Email : orow1993@gmail.com <br />
    <br />
    <b>Ido Shternberg</b> <br />
    Phone :052-2227063  <br />
    Email : idoshin94@gmail.com  <br />
    <br />
    <b>Tal Pahima</b> <br />
    Phone : 052-7788411  <br />
    Email : Tal.Pahima@gmail.com  <br />
    <br />
    <br />



</address>

