.panel, #flip {
    padding: 5px;
    text-align: center;
    color: aliceblue;
    background-color: #000000;
    border: solid 1px #c3c3c3;
}

.panel {
    padding: 50px;
}

    .panel h1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: absolute;
        top: 420px;
        right: 300px;
        width: 100%;
    }

    .panel h2 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .panel h4 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #c3c3c3;
    }

#flip {
    margin-top: 10px;
    padding: 20px 20px;
    font-size: 20px;
}

.one {
    position: relative;
    width: 100%; /* for IE 6 */
}

.one h2 {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
}




.iphone h1, h2 {
    font-weight: 200;
    margin: 0.4em 0;
}

.iphone h1 {
    font-size: 3.5em;
}

.iphone h2 {
    color: #888;
    font-size: 2em;
}