nav {
    position: absolute;
    left: 0;
    width: 100%;
    background: url("images/nav_background.png");
}

    nav ul li a {
        display: block;
        margin-right: 10px;
        width: 120px;
        font-size: 14px;
        line-height: 44px;
        text-align: center;
        text-decoration: none;
        color: #777;
    }

        nav ul li a:hover {
            color: #fff;
        }

    nav ul li.selected a {
        color: #fff;
    }

    nav ul li.subscribe a {
        margin-left: 22px;
        padding-left: 33px;
        text-align: left;
        background: url("images/rss.png") left center no-repeat;
    }
