* {
    margin: 0;
    padding: 0;
}

.title subTitleWidthLong {
    color: #FCEBEB
}

.sub_title_no_credit subTitleWidthLong {
    color: #FCEBEB
}

body {
    margin: 0 auto;
    padding: 22px 0;
    font: 13px/22px Helvetica, Arial, sans-serif;
    background: #e9eced;
}

.welcome-text {
    width: 600px;
    height: 300px;
    text-align: center;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 100px;

}


    .welcome-text .after-welcome {
        color: #a3a4a4;
        font-size: 70px;
    }

.textonbox {
    color: black;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 50px;
}

.parent {
    width: 0px;
    height: 0px;
    color: #2163fe;
    margin-top: 20px;
    text-align: center;
}

.box {
    width: 200px;
    height: 40px;
    background: black;
    font-size: 20px;
    color: black;
    margin-top: 5px;
}

    .box:hover {
        background-color: #137AE9;
        cursor: pointer;
        color: black;
        -webkit-transition: background-color 2s ease-out;
        -moz-transition: background-color 2s ease-out;
        -o-transition: background-color 2s ease-out;
        transition: background-color 2s ease-out;
    }

.goodMorning {
    color: #a3a4a4;
    text-align: center;
    font-family: "Lobster", serif;
    font-size: 30px;
    margin-top: 10px;
}

.weather {
    width: 200px;
    height: 50px;
    margin-top: 60px;
    margin-left: 0px;
    margin-right: 50px;
}

.aside1 {
    width: 18%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

    .aside1 > pAside {
        margin: .5rem;
    }

pAside {
    font-family: 'Fira Sans', sans-serif;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 50px;
}
