* {
    margin: 0;
    padding: 0;
}

nav {
    position: absolute;
    left: 0;
    width: 100%;
    background: url("images/nav_background.png");
}




    nav ul li a {
        display: block;
        margin-right: 20px;
        width: 120px;
        font-size: 14px;
        line-height: 44px;
        text-align: center;
        text-decoration: none;
        color: #777;
    }

        nav ul li a:hover {
            color: #fff;
        }

    nav ul li.selected a {
        color: #fff;
    }

    nav ul li.subscribe a {
        margin-left: 22px;
        padding-left: 33px;
        text-align: left;
        background: url("images/rss.png") left center no-repeat;
    }



.title subTitleWidthLong {
    color: #FCEBEB
}

.sub_title_no_credit subTitleWidthLong {
    color: #FCEBEB
}

body {
    margin: 0 auto;
    padding: 22px 0;
    font: 13px/22px Helvetica, Arial, sans-serif;
    background: #e9eced;
}

.welcome-text {
    width: 600px;
    height: 300px;
    text-align: center;
    margin-top: 0px;
    margin-left: 200px;
    margin-right: 100px;
}

    .welcome-text h1 {
        font-size: 28px;
        line-height: 100px;
        text-shadow: 2px 2px #0094ff;
        text-align: center;
        color: #000;
        text-transform: uppercase;
    }

.textonbox {
    color: black;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 50px;
}

.parent {
    width: 0px;
    height: 0px;
    color: #2163fe;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 50px;
    text-align: center;
}

.box {
    width: 200px;
    height: 50px;
    background: black;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 50px;
    font-size: 20px;
    color: black;
}

    .box:hover {
        background-color: deepskyblue;
        cursor: pointer;
        color: black;
        -webkit-transition: background-color 2s ease-out;
        -moz-transition: background-color 2s ease-out;
        -o-transition: background-color 2s ease-out;
        transition: background-color 2s ease-out;
    }

.weather {
    width: 200px;
    height: 50px;
    margin-top: 70px;
    margin-left: 0px;
    margin-right: 50px;
}

.block1 {
    background: #d5dbdd;
}


.aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

    .aside > p {
        margin: .5rem;
    }

p {
    font-family: 'Fira Sans', sans-serif;
}
