<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#flip").click(function () {
                $(".panel").slideToggle("slow");
            });

        });
    </script>
    <style>

        .panel, #flip {
            padding: 5px;
            text-align: center;
            color:aliceblue;
            background-color: #000000;
            border: solid 1px #c3c3c3;
        }

        .panel {
            padding: 50px;
            
        }
            .panel h1 {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            .panel h2 {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            .panel h4 {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color:#c3c3c3; 

            }
    </style>
</head>
<body>

    <div id="flip">
    Click to ALL Devices

    </div>
    <div class="panel">
        <img src="~/images/TakeCloserLook.jpeg" alt="Iphone11" class="img-responsive" />
        <p>
            <h1>IPHONE 11</h1>
            <h2>Pro cameras. Pro display. Pro performance</h2>
            <h4>From $24.95/mo . or $599 with trade in</h4>
            <a class="btn btn-md-default" asp-controller="Devices" asp-action="Details/5" style="color:#6192f7">
                <h3>Learn more ></h3>
            </a>
        </p>
    </div>


</body>
</html>
