@{
    ViewData["Title"] = "Devices Page";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>IMobile Store HomePage</title>
    <link rel="stylesheet" href="~/css/DeviceIndex.css" />
    <link rel="stylesheet" href="~/css/NavBar.css" />
    <link rel="stylesheet" href="~/js/site.js" />


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#flip").click(function () {
                $(".panel").slideToggle("slow");
            });

        });
    </script>

</head>
<body>
    
    <div id="flip">
        >>> Click to Close <<<

    </div>
    <div class="panel">
        <img src="~/images/TakeCloserLook.jpeg" alt="Iphone11" class="img-responsive" />
        <p>
            <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
            <div class="iphone">
                <h1>
                    IPHONE 11.
                    <span class="txt-rotate"
                          data-period="2000"
                          data-rotate='[ "4K video.", "Shoot it.", "Flip it.", "Zoom it.", "Light it.", "Tweak it.", "LOVE IT." ]'></span>
                </h1>
            </div>
            <h2 style="    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
">Is All You Need.</h2>

            <h2>Pro cameras. Pro display. Pro performance</h2>
            <h4>From $24.95/mo . or $599 with trade in</h4>
            <a class="btn btn-md-default" asp-controller="Devices" asp-action="Details/5" style="color:#6192f7">
                <h3>Learn more ></h3>
            </a>
        </p>
    </div>

    <div class="Alldevices">
        <h3> iPhone 11 Pro Max Camera 4K Video Test!</h3>
        <div class="thumb" onclick="clicksound.playclip()" onMouseover="mouseoversound.playclip()">
            <video unmuted id="video1" onmouseover="this.play()" onmouseout="this.pause()">
                <source src="~/images/iPhone11video.mp4" type="video/mp4">
                <source src="mov_bbb.ogg" type="video/ogg">
                Your browser does not support HTML5 video.
            </video>
        </div>

        <div class="thumb" onclick="clicksound.playclip()" onMouseover="mouseoversound.playclip()">
            <video unmuted id="video2" onmouseover="this.play()" onmouseout="this.pause()">
                <source src="http://mazwai.com/system/posts/videos/000/000/148/preview_mp4/kenji_kawasawa-106_balloons.mp4" type="video/mp4">
                <source src="mov_bbb.ogg" type="video/ogg">
                Your browser does not support HTML5 video.
            </video>
        </div>

        <div class="thumb" onclick="clicksound.playclip()" onMouseover="mouseoversound.playclip()">
            <video unmuted loop id="video3" onmouseover="this.play()" onmouseout="this.pause()">
                <source src="http://mazwai.com/system/posts/videos/000/000/123/preview_mp4/victor_ciurus--5d_mark_iii_magic_lantern_14_bits_raw_video.mp4" type="video/mp4">
                <source src="mov_bbb.ogg" type="video/ogg">
                Your browser does not support HTML5 video.
            </video>
        </div>

        <div class="thumb" onclick="clicksound.playclip()" onMouseover="mouseoversound.playclip()">
            <video unmuted id="video4" onmouseover="this.play()" onmouseout="this.pause()">
                <source src="http://mazwai.com/system/posts/videos/000/000/087/preview_mp4_2/raoul-kopacka__two-horned-chameleon.mp4" type="video/mp4">
                <source src="mov_bbb.ogg" type="video/ogg">
                Your browser does not support HTML5 video.
            </video>
        </div>

        <p>
            Video courtesy of
            <a href="https://www.bigbuckbunny.org/" target="_blank">Big Buck Bunny</a>.
        </p>

        <div class="container">
            <h1>Iphone's</h1>
            <img src="~/images/Galaxy s10.jpeg" alt="Snow" style="margin-right:100%;">
            <div class="bottom-left">Galaxy S10</div>
            <a class="btn btn-md custom-btn" asp-controller="Devices" asp-action="Details/1" style="font-size:17px; color:blue">
                Learn more
            </a>

        </div>

    </div>


    


</body>
</html>
